.search_container{
    width: 80%;
    display: flex;
    background-color: rgba(100, 99, 99, 0.432);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {

    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: 100px 100px 100px;

  }


