{% extends 'movie_app/additional/base.html' %}
{% load static %}


{% block searchbar %}
{% endblock searchbar %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="profile_container">
    <img class="avatar" src="{{request.user.customer.profile_pic.url}}" alt="Profile pic">
    <form class="profile-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-wrapper">
            <label for="{{ field.id_for_label }}">Profile name</label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="fileWrapper">
            <label for="upload_photo" class="upload_photo_label">Change profile picture</label>
            <input class='fileInput' type="file" name="document" id="upload_photo">
        </div>
        <input type="submit" class="submit">
    </form>
    <p class="cur_tariff">Current tariff: {{user.customer.tariff}}</p>
    <a href="{% url 'tariff' %}" class="tarif_link">Change tariff</a>
</div>

{% endblock content %}



