{% extends 'movie_app/additional/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/series_page.css' %}">
<link rel="stylesheet" href="{% static 'css/additional/searchbar.css' %}">


<div class="search_container">
    <div class="dropdown">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content">
            {% for genre in genres %}
            <a href="{% url 'genred_series' genre.0 %}">{{genre.0}}</a>
            {% endfor %}
        </div>
      </div>

    {% comment %} <div class="search_bar">
        <input class="search_bar_input" placeholder="Search" type="text">
        <img src="{% static 'img/icons/search_icon.png' %}" class="search_btn">
    </div> {% endcomment %}


</div>

<div class="container_series">
    {% for item in series %}
    <a href="{% url 'filmpage' item.id %}" class="film">
        <img src="{{item.image.url}}" alt="">
        <p class='movie_desc'>{{item.title}}</p>
    </a>

    {% endfor %}
    {% for item in series %}
    <a href="{% url 'filmpage' item.id %}" class="film">
        <img src="{{item.image.url}}" alt="">
        <p class='movie_desc'>{{item.title}}</p>
    </a>

    {% endfor %}

    {% for item in series %}
    <a href="{% url 'filmpage' item.id %}" class="film">
        <img src="{{item.image.url}}" alt="">
        <p class='movie_desc'>{{item.title}}</p>
    </a>

    {% endfor %}
    
</div>


<script>
    let searchBtn = document.querySelector('.search_btn')
    let searchBar = document.querySelector('.search_bar_input')
    let open = true
    searchBtn.addEventListener('click', () =>{
        if(open){
            searchBar.style.transform= 'scaleX(1)'

            open = false
        }
        else{
            searchBar.style.transform= 'scaleX(0)'

            open = true
        }
        
    })
    //searchBtn.addEventListener('mouseout', () =>{
    //    searchBar.style.transform= 'scaleX(0)'
    //})
</script>

{% endblock content %}



