{% extends 'movie_app/additional/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/tariff_page.css' %}">

<div class="tariff_container">
    <form class="plan_cont" method='post'>
        {% csrf_token %}
        {% for tariff in form.tariff %}
        <label class="lab">
            
            <div class="tariff_card card-input">
                <h1 class="tarif_name">{{ tariff }}</h1>
                {% if tariff.0 == "default" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and movies</li>
                </ul>
                {% endif %}
                {% if tariff.0 == "plus" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and series</li>
                </ul>
                {% endif %}
                {% if tariff.0 == "premium" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to all</li>
                </ul>
                {% endif %}
            </div>
        </label>
        
        {% endfor %}
        <input type="submit" class="choose" value="Choose">
    </form>
    
</div>

<script text="text-javascript">
    let choices = document.getElementsByClassName('tariff')
    let cards = document.getElementsByClassName('tariff_card ')
    console.log(cards)
    for(let i = 0; i < choices.length; i++){
        choices[i].addEventListener('change', () => {
            for(let j = 0; j < choices.length; j++){
                cards[i].classList.remove("checked")
                if (choices[i].checked){
                    cards[i].classList.add("checked")
                    console.log('click')
                    console.log(cards)
                }
            }
        })

    }
    
</script>

{% endblock content %}


