{% extends 'movie_app/additional/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/tariff_page.css' %}">

<div class="tariff_container">
    <div class="plan_cont">
        {% for tariff in tariffs %}
        <label>
            <input type="radio" class="card-input-element" name="tariff">
            <div class="tariff_card card-input">
                <h1 class="tarif_name">{{tariff.0|title }}</h1>
                {% if tariff.0 == "default" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and movies</li>
                </ul>
                {% endif %}
                {% if tariff.0 == "plus" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and series</li>
                </ul>
                {% endif %}
                {% if tariff.0 == "premium" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to all</li>
                </ul>
                {% endif %}
            </div>
        </label>
        
        {% endfor %}
    </div>
    <input type="submit" class="choose" value="Choose">
</div>


<script text="text/javascript">
    let choices = document.getElementsByClassName("tariff_card")

    for(let choice = 0; choice < choices.length; choice++){
        choices[choice].addEventListener("click", () => {
            this.style.backgroundColor = 'red'
        })
    }

</script>
{% endblock content %}


