{% extends 'movie_app/additional/base.html' %}
{% load static %}


{% block searchbar %}
{% endblock searchbar %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tariff_page.css' %}">

<div class="tariff_container">
    <form class="plan_cont" method='post'>
        {% csrf_token %}
        {% for tariff in form.tariff %}
        <label class="lab">
            {% if request.user.customer.tariff == tariff.choice_label %}
            <div class="tariff_card card-input checked">
                <h1 class="tarif_name">{{ tariff.choice_label|title }}</h1>
                {{tariff.tag}}
                {% if tariff.choice_label|lower == "movies" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and movies</li>
                </ul>
                {% endif %}
                {% if tariff.choice_label|lower == "plus" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and series</li>
                </ul>
                {% endif %}
                {% if tariff.choice_label|lower == "premium" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to all</li>
                </ul>
                {% endif %}
            </div>
            {% else %}
            <div class="tariff_card card-input">
                <h1 class="tarif_name">{{ tariff.choice_label|title }}</h1>
                {{tariff.tag}}
                {% if tariff.choice_label|lower == "movies" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and movies</li>
                </ul>
                {% endif %}
                {% if tariff.choice_label|lower == "plus" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to homepage and series</li>
                </ul>
                {% endif %}
                {% if tariff.choice_label|lower == "premium" %}
                <ul class="card-list">
                    <li class="card-list-punct">Access to all</li>
                </ul>
                {% endif %}
            </div>
            {% endif %}
        </label>
        
        {% endfor %}
        <input type="submit" class="choose" value="Choose">
    </form>
    
</div>



<script text="text-javascript">
    let choices = document.getElementsByClassName('tariff')
    let con = document.getElementsByClassName('tariff_card')
    for(let i = 0; i < choices.length; i ++){
        choices[i].addEventListener('change', () =>{
            for(let j = 0; j < con.length; j ++){
                if(con[j].classList.contains('checked')){
                    con[j].classList.remove('checked')
                }
            }
            console.log(i)
            console.log(con[i])
            con[i].classList.add('checked')
        })
    }
    
</script>

{% endblock content %}


