<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/additional/search.css' %}">
    <title>Document</title>

    <script text="text/javascript"> 
        var user = '{{request.user}}'
  
        function getToken(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      const csrftoken = getToken('csrftoken');


      // Search section
      

    </script>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="nav_div">
                <div class="logo_search">
                    <div class="logo">
                        <a href="{% url 'index' %}"><img class='logo' src="{% static 'img/logo.png' %}" alt="Logo"></a>
                    </div>
                    <ul class="menu_list menu_list_own">
                        <a href="{% url 'homepage' %}" class="menu_list_item">Home</a>
                        <a href="{% url 'series_page' %}" class="menu_list_item">TV Series</a>
                        <a href="{% url 'movies_page' 'all' %}" class="menu_list_item">Movies</a>
                        <a href="{% url 'mylist' 'all' %}" class="menu_list_item">My List</a>
                    </ul>
                </div>
                
                {% block login %}
                {% if request.user.is_authenticated %}

                <div class="menu">
                    <ul class="menu_list search_profile">
                        {% block searchbar %}
                        <div class="search_bar_wrapper">
                            <div class="search_bar">
                                <input id='search' class="search_bar_input" placeholder="Search" type="text">
                                <img src="{% static 'img/icons/search_icon.png' %}" class="search_btn">
                            </div>
                            <ul id="search_ul" class="search_results">
                                {% for movie in movies%}
                                    <li class="results"><a href="{% url 'filmpage' movie.id %}">{{ movie.title }}</a></li>
                                {% endfor %}
                            </ul> 
                        </div> 
                        {% endblock searchbar %}
                        <a href="{% url 'profile' %}" class="profile_link"><img src="{{request.user.customer.profile_pic.url}}" alt=""></a>
                    </ul>
                </div>
                
                {% else %}
                <div class="menu">
                    <ul class="menu_list">
                        <a href="{% url 'accounts:login' %}" class="login_btn">Login</a>
                    </ul>
                </div>
                <div class="menu">
                    <ul class="menu_list">
                        <a href="{% url 'accounts:register' %}" class="login_btn">Register</a>
                    </ul>
                </div>
                {% endif %}
                {% endblock login %}
            </div>

        </div>
    </nav>
    <!-- Navbar End -->

    {% block content %}
    {% endblock content %}

    <script text="text/javascript">
        // Open close searchbar
        let searchBtn = document.querySelector('.search_btn')
        let searchBar = document.querySelector('.search_bar_input')
        let open = true

        let search = document.getElementById('search');
        let ul = document.getElementById("search_ul");
        let li = ul.getElementsByTagName('li');

        searchBtn.addEventListener('click', () =>{
            if(open){
                searchBar.style.transform= 'scaleX(1)'
                open = false
                for(let i = 0; i < li.length; i++){
                    li[i].style.display = "block";
                }
            }
            else{
                searchBar.style.transform= 'scaleX(0)'
                open = true
                for(let i = 0; i < li.length; i++){
                    li[i].style.display = "none";
                }
            }
            
        })

        //Seraching



        for (i = 0; i < li.length; i++) {
            li[i].style.display = "none";    
        }
        
        search.addEventListener('change', () => {
            let filter = search.value.toUpperCase();
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().includes(filter)) {
                    li[i].style.display = "block";
                } 
                else if(filter == ''){
                    li[i].style.display = "none";
                }
                else {
                  li[i].style.display = "none";
                }
            }
        })


    </script>
    <script src="{% static 'js/searchbar.js' %}"></script>
</body> 
</html>